<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Century</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>1da99d480b98144474924af5c1d09bdd25850d61</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>aetvplus</string>
		<string>abc</string>
		<string>abc-family</string>
		<string>abc-news</string>
		<string>acorn-tv</string>
		<string>adult-swim</string>
		<string>al-jazeera-america</string>
		<string>amazon</string>
		<string>amazon-instant-video</string>
		<string>amazon-prime</string>
		<string>amc</string>
		<string>american-heroes-channel</string>
		<string>aol-on</string>
		<string>at-t-u-verse</string>
		<string>bbc-america</string>
		<string>bet-on-demand</string>
		<string>bloomberg</string>
		<string>bravo</string>
		<string>break</string>
		<string>cartoonnetwork</string>
		<string>cbs</string>
		<string>cbs-all-access</string>
		<string>cbs-new</string>
		<string>cinemanow</string>
		<string>cmt</string>
		<string>cnbc</string>
		<string>cnn</string>
		<string>colbertnation-com</string>
		<string>comcast</string>
		<string>comedy-central</string>
		<string>cooking-channel</string>
		<string>crackle</string>
		<string>crunchyroll</string>
		<string>crunchyroll-premium</string>
		<string>cw-seed</string>
		<string>destination-america</string>
		<string>directv</string>
		<string>discovery-channel</string>
		<string>discovery-go</string>
		<string>dish</string>
		<string>disney-channel</string>
		<string>disney-junior</string>
		<string>disney-movies-anywhere</string>
		<string>disney-xd</string>
		<string>distrify</string>
		<string>diy</string>
		<string>dramafever</string>
		<string>dramafever-premium</string>
		<string>e</string>
		<string>encore-play</string>
		<string>epix</string>
		<string>esquire-network</string>
		<string>fandor</string>
		<string>feeln</string>
		<string>flixfling</string>
		<string>flixster</string>
		<string>fm</string>
		<string>food-network</string>
		<string>fox</string>
		<string>fox-business</string>
		<string>fox-news</string>
		<string>fox-sports</string>
		<string>funny-or-die</string>
		<string>fuse</string>
		<string>fx</string>
		<string>fy</string>
		<string>gaiam-tv</string>
		<string>google-play</string>
		<string>guidebox</string>
		<string>hbo-go</string>
		<string>hbo-now</string>
		<string>hgtv</string>
		<string>hln</string>
		<string>hub-network</string>
		<string>hulu</string>
		<string>hulu-with-showtime</string>
		<string>ifc</string>
		<string>internet-archive</string>
		<string>investigation-discovery</string>
		<string>lifetime</string>
		<string>live-well-network</string>
		<string>logo</string>
		<string>manga-entertainment</string>
		<string>max-go</string>
		<string>movieplex-play</string>
		<string>msnbc</string>
		<string>mtv</string>
		<string>mtv-on-demand</string>
		<string>mubi</string>
		<string>music-choice</string>
		<string>my-damn-channel</string>
		<string>national-geographic</string>
		<string>national-geographic-kids</string>
		<string>nbc</string>
		<string>nbc-news</string>
		<string>nbc-universo</string>
		<string>netflix</string>
		<string>nick-jr</string>
		<string>nickelodeon</string>
		<string>oprah</string>
		<string>oxygen</string>
		<string>paramount-movies</string>
		<string>pbs</string>
		<string>pbs-kids</string>
		<string>pop</string>
		<string>popcornflix</string>
		<string>red-bull-tv</string>
		<string>revision3</string>
		<string>science-channel</string>
		<string>seeso</string>
		<string>shout-factory-tv</string>
		<string>showtime</string>
		<string>showtime-anytime</string>
		<string>shudder</string>
		<string>simpsons-world</string>
		<string>snagfilms</string>
		<string>sony-entertainment-network</string>
		<string>south-park-studios</string>
		<string>spike-tv</string>
		<string>sprout-now</string>
		<string>starz-play</string>
		<string>style-com</string>
		<string>sundance-tv</string>
		<string>sundancenow</string>
		<string>sundancenow-doc-club</string>
		<string>syfy</string>
		<string>syfy-sync</string>
		<string>tbs</string>
		<string>teamcoco-com</string>
		<string>telemundo-now</string>
		<string>the-cw</string>
		<string>the-golf-channel</string>
		<string>the-history-channel</string>
		<string>the-onion</string>
		<string>the-weather-channel</string>
		<string>thedailyshow-com</string>
		<string>tmz</string>
		<string>tnt</string>
		<string>toonstv</string>
		<string>travel-channel</string>
		<string>trutv</string>
		<string>tubi-tv</string>
		<string>tv-land</string>
		<string>ulive</string>
		<string>usa</string>
		<string>velocity</string>
		<string>vh1</string>
		<string>vh1-on-demand</string>
		<string>viceland</string>
		<string>viewster</string>
		<string>vimeo</string>
		<string>vogue</string>
		<string>vudu</string>
		<string>warner-archive-instant</string>
		<string>watch-disney-channel</string>
		<string>watch-disney-channel</string>
		<string>watch-disney-junior</string>
		<string>watch-disney-xd</string>
		<string>watch-diy-network</string>
		<string>watch-espn</string>
		<string>watch-food-network</string>
		<string>watch-hgtv</string>
		<string>watch-tcm</string>
		<string>watch-travel-channel</string>
		<string>we-tv</string>
		<string>wgn-america</string>
		<string>wolfe-on-demand</string>
		<string>wwe</string>
		<string>xfinity</string>
		<string>yahoo-screen</string>
		<string>youtube</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>$(PRODUCT_NAME) Bluetooth Peripheral use</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) calendar events</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) camera use</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) contact use</string>
	<key>NSHealthShareUsageDescription</key>
	<string>$(PRODUCT_NAME) heath share use</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>$(PRODUCT_NAME) heath update use</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>SelectTV Guide location use</string>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) location use</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SelectTV Guide location use</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) microphone use</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) motion use</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Bold.otf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>fontawesome-webfont.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
